@font-face {
    font-family: ptr2;
    src: url(../fonts/ptr2.ttf)
}

@keyframes disc {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(10000deg);
    }
}

@keyframes disc2 {
    from {
        transform: rotate(-1500deg);
    }
    to {
        transform: rotate(0deg);
    }
}

body {
    color: white;
    background-color: turquoise;
    background-image: url("../images/bgmedia.jpeg");
    background-repeat: fill;
    font-family: ptr2;
    font-weight: normal;
    font-style: normal;
}

h1 {
    text-align: center;
}

.window {
    width: 80%;
    position: absolute;
    z-index: -1;
    top: 6em;
    left: 10%;
    height: 55em;
}

.parent {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 21%);
    grid-template-rows: 25em;
    gap: 30px 50px;
    justify-content: center;
    margin-top: 3em;
    }

.info {
    width: 50%;
    margin-top: 7em;
    text-shadow: 1px 0 #262626, -1px 0 #262626, 0 1px #262626, 0 -1px #262626,
                 1px 1px #262626, -1px -1px #262626, 1px -1px #262626, -1px 1px #262626;
    font-size: 150%;
    margin-left: auto;
    margin-right: auto;
}

.disc1 {
    grid-area: 1 / 1 / 2 / 2;
    align-content: center;
}

.disc2 {
    grid-area: 1 / 2 / 2 / 3;
}

.disc3 {
    grid-area: 1 / 3 / 2 / 4;
}

.spin {
    width: 100%;
    height: auto;
    animation: disc2 1.5s;
}

.spin:hover {
    animation: disc 15s;
}
