@font-face {
    font-family: inconsolata;
    src: url(../fonts/inconsolata.ttf)
}

@font-face {
    font-family: inconsolata-bold;
    src: url(../fonts/inconsolata-bold.ttf)
}

body {
    color: white;
    background-color: white;
    background-image: url("https://parapparchive.hoppingtopping.com//3-PaRappa%20The%20Rapper%202%20%282001%29/Parappa%20Desktop%20Accessories/Wallpapers/k6022.png");
    background-size: cover;
}

h4 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.logo {
    margin-top: 2.7em;
}

.parent {
    margin-top: 1em;
}

.div1 {
    background-color: #ffb015;
    box-shadow: 0px 1.5px 0.5px #ff740f, -0px -0.5px 0.5px #b8500a, 0px -1.5px 0.5px #b8500a, -1.5px 0px 0.5px #b8500a,
                -8px -9.5px 3px #db5f0c, -8px 9.5px 3px #db5f0c, 8px -9.5px 3px #db5f0c, 8px 9.5px 3px #db5f0c,
                -10px -6px #fc6c0a, -10px 6px #fc6c0a, 10px -6px #fc6c0a, 10px 6px #fc6c0a,
                -10px -11.5px #fd7c10, 10px -11.5px #fd7c10, -10px 11.5px #b9500a, 10px 11.5px #b9500a,
                -10px -11.5px #fc6c0a, -10px 11.5px #fc6c0a, 10px -11.5px #fc6c0a, 10px 11.5px #fc6c0a;
    border-radius: 20px;
    margin-bottom: 2em;
    font-family: inconsolata-bold;
    font-size: 20px;
    line-height: 1em;
}

.div1 a {
    text-decoration: none;
}

.div1 a:hover {
    text-shadow: 1px 0 white, -1px 0 white, 0 1px white, 0 -1px white,
                 1px 1px white, -1px -1px white, 1px -1px white, -1px 1px white, 2px 1px, -2px 1px, 1px 2px, 1px -2px,
                 2px 2px, -2px -2px, 2px -2px, -2px 2px;
}

.div2 {
    background-color: #ffb015;
    box-shadow: 0px 1.5px 0.5px #ff740f, -0px -0.5px 0.5px #b8500a, 0px -1.5px 0.5px #b8500a, -1.5px 0px 0.5px #b8500a,
                -8px -9.5px 3px #db5f0c, -8px 9.5px 3px #db5f0c, 8px -9.5px 3px #db5f0c, 8px 9.5px 3px #db5f0c,
                -10px -6px #fc6c0a, -10px 6px #fc6c0a, 10px -6px #fc6c0a, 10px 6px #fc6c0a,
                -10px -11.5px #fd7c10, 10px -11.5px #fd7c10, -10px 11.5px #b9500a, 10px 11.5px #b9500a,
                -10px -11.5px #fc6c0a, -10px 11.5px #fc6c0a, 10px -11.5px #fc6c0a, 10px 11.5px #fc6c0a;
    border-radius: 20px;
    margin-left: 24px;
    margin-right: 189px;
    font-family: inconsolata;
    font-size: 20px;
}

.div2 p {
    text-shadow: 1px 0 0.5px #b26100, -1px 0 0.5px #b26100, 0 1px 0.5px #b26100, 0 -1px 0.5px #b26100,
                 1px 1px 0.5px #b26100, -1px -1px 0.5px #b26100, 1px -1px 0.5px #b26100, -1px 1px 0.5px #b26100;
    font-weight: 600;
}

.ost p {
    max-width: 190px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.stack {
    width: 175px;
    display: block;
    float: right;
}

.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-around;
}
